<!--
    THIS EXAMPLE WAS DOWNLOADED FROM https://echarts.apache.org/examples/zh/editor.html?c=line-simple
-->
<!DOCTYPE html>
<html style="height: 100%" lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html">
    <style type=" text/css">
        table {
            border: #888FEA 1px solid;
            /*border-spacing: 0px;*/
            text-align: center;
        }

        th, tr, td {
            border: #888FEA 1px solid;
        }

        th {
            background-color: #98AEFD;
        }

        /*#id {*/
        /*    width: 40px;*/
        /*}*/

        /*#c1 {*/
        /*    width: 150px;*/
        /*}*/
    </style>
</head>
<body style="height: 100%; margin: 0">
<div style="height: 51%">
    <div style="height: 100%;width: 64.7%;float: left">
        <div id="container0" style="height: 20%;width: 100%">
            <div style="font-size: 45px">
                <tr >
                    温湿度监控系统
                </tr>
            </div>
            <div style="font-size: 24px">
                <tr >
                    180400513-罗子易 180400519-夏怡翔
                </tr>
            </div>
        </div>
        <div id="container1" style="height: 80%;width: 100%">
            <table style="width:100%;border-spacing: 0" border="1;">
                <tr style="border:1px">
                    <th width="24.5%">温度</th>
                    <th width="24.5%">湿度</th>
                    <th width="51%">时间</th>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="list" style="overflow-x: hidden; width: 100%; height: 350px;">
                            <table id="replaceByAjax" border="1" style="width: 100%;border-spacing: 0"
                                   th:fragment="replaceByAjax">
                                <tr th:block th:each="DHT:${DHT11}">
                                    <td style="text-align: center;" width="25%">
                                        <block width="100%" th:text="${DHT.getTEMP()}+'℃'"></block>
                                    </td>
                                    <td style="text-align: center;" width="25%">
                                        <block width="100%" th:text="${DHT.getHUM()}+'%'"></block>
                                    </td>
                                    <td style="text-align: center;" width="50%">
                                        <block width="100%" th:text="${DHT.getTIME()}"></block>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="container2" style="height:100%; width: 35.3%;float: right">
        <iframe
                src="http://192.168.137.130:1001"
                scrolling="yes"
                frameborder="0"
                width="650"
                height="500"
        >
        </iframe>
    </div>
</div>
<div id="container3" style="height: 49%;width: 100%">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <!-- Uncomment this line if you want to dataTool extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/dataTool.min.js"></script>
    -->
    <!-- Uncomment this line if you want to use gl extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
    -->
    <!-- Uncomment this line if you want to echarts-stat extension
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
    -->
    <!-- Uncomment this line if you want to use map
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/china.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/map/js/world.js"></script>
    -->
    <!-- Uncomment these two lines if you want to use bmap extension
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=<Your Key Here>"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/bmap.min.js"></script>
    -->


    <script type="text/javascript" th:inline="javascript">
        setInterval(function () {
            $.ajax({
                type: 'POST',
                url: '/home_request',
                success: function (data) {
                    console.log(data)
                    var date = new Array(data.length);
                    var tmp = new Array(data.length);
                    var hum = new Array(data.length);
                    for (var i in data) {
                        console.log(data[i])
                        date[i] = data[i]['time']
                        tmp[i] = data[i]['temp']
                        hum[i] = data[i]['hum']
                    }

                    var dom = document.getElementById("container3");
                    var myChart = echarts.init(dom);

                    var option;

                    option = {
                        legend: {
                            // orient 设置布局方式，默认水平布局，可选值：'horizontal'（水平） ¦ 'vertical'（垂直）
                            orient: 'horizontal',
                            // x 设置水平安放位置，默认全图居中，可选值：'center' ¦ 'left' ¦ 'right' ¦ {number}（x坐标，单位px）
                            x: 'center',
                            // y 设置垂直安放位置，默认全图顶端，可选值：'top' ¦ 'bottom' ¦ 'center' ¦ {number}（y坐标，单位px）
                            y: 'bottom',
                            data: ['湿度', '温度']
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        xAxis: {
                            type: 'category',
                            data: date
                        },
                        yAxis: [{
                            name: '温度 /℃',
                            type: 'value',
                            min: 0,
                            max: 50,
                            position: 'left'
                        }, {
                            name: '湿度 /%',
                            type: 'value',
                            min: 0,
                            max: 100,
                            position: 'right'
                        }],
                        series: [{
                            yAxisIndex: 0,
                            // color: '#DC143C',
                            showAllSymbol: true,
                            name: '温度 /℃',
                            data: tmp,
                            type: 'line'
                            // data: hum,
                            // type: 'line'
                        }, {
                            yAxisIndex: 1,
                            // color:'#800080',
                            showAllSymbol: true,
                            name: '湿度 /%',
                            data: hum,
                            type: 'line'
                        }]
                    };

                    if (option && typeof option === 'object') {
                        myChart.setOption(option);
                    }
                },
            });
        }, 3000)

        setInterval(function () {
            $.ajax({
                type: 'POST',
                url: '/home_request_table',
                success: function (data) {
                    console.log(data)
                    $("#replaceByAjax").html(data);
                },
            });
        }, 3000)
    </script>

</div>

</body>
</html>